<p id="notice"><%= notice %></p>

<h1>Truckers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @truckers.each do |trucker| %>
      <tr>
        <td><%= trucker.name %></td>
        <td><%= trucker.phone %></td>
        <td><%= link_to 'Show', trucker %></td>
        <td><%= link_to 'Edit', edit_trucker_path(trucker) %></td>
        <td><%= link_to 'Destroy', trucker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trucker', new_trucker_path %>
